@inject NavigationManager Navigation;
@inject GetAllClient GetAllClient;

<h3>ToDoLists</h3>

@if (todoLists != null)
{
    foreach (var list in todoLists)
    {
        <div class="d-flex align-items-center justify-content-between">
            <div class="d-flex flex-column">
                <div>@list.Title</div>
                <div>@list.IsDone</div>
            </div>
            <div>
                <button class="btn btn-dark" @onclick="() => GetDetails(list.Id)"><i class="fa-solid fa-circle-info"></i></button>
                <button class="btn btn-success"><i class="fa-solid fa-pen-to-square"></i></button>
                <button class="btn btn-danger"><i class="fa-solid fa-trash"></i></button>
            </div>
        </div>
    }
}
else
{
    <div>Nothing In Db</div>
}


@code {


    IEnumerable<GetAllResponse> todoLists { get; set; }

    protected override async Task OnInitializedAsync()
    {
        try
        {
            todoLists = await GetAllClient.GetAllAsync();
        }
        catch (Exception e)
        {
            Console.Write(e);
        }

    }

    public void GetDetails(Guid id)
    {
        Navigation.NavigateTo($"details/{id}");
    }



}
