@using Shared.Models.ToDoLists;
@using WebApp.Services.TodoList;
@inject HttpClient Http;
@inject NavigationManager Navigation;
@inject GetAllClient GetAllClient;

<h3>ToDoLists</h3>

@if (todoLists != null)
{
    foreach (var item in todoLists)
    {
        <div class="d-flex align-items-center justify-content-between">
            <div class="d-flex flex-column">
                <div>@item.Id</div>
                <div>@item.Title</div>
            </div>
            <button class="btn btn-dark">Details</button>
        </div>
    }
}
else
{
    <div>Nothing In Db</div>
}


@code {


    IEnumerable<GetAllResponse> todoLists { get; set; }

    protected override async Task OnInitializedAsync()
    {
        try
        {
            todoLists = await GetAllClient.GetAllAsync();
        }
        catch (Exception e)
        {
            Console.Write(e);
        }

    }

    public void GetDetails()
    {
        Navigation.NavigateTo()
    }

}
