@page "/todo"
@rendermode InteractiveServer

<h3>Todo (@todoList.Count(item => !item.IsDone))</h3>

<input @bind="TodoName" />
<button @onclick="AddTodo">Add Item</button>

<ul>
    @foreach (var item in todoList)
    {
        <li>
            <input type="checkbox" @bind="item.IsDone" />
            <input @bind="item.Name" />
        </li>
    }
</ul>

@code {
    private List<TodoItem> todoList = new();
    string TodoName = "";

    void AddTodo()
    {
        if (!string.IsNullOrWhiteSpace(TodoName))
        {
            todoList.Add(new TodoItem { Name = TodoName, IsDone = false });
            TodoName = string.Empty;
        }
    }
}
